aws_iam_labrole_arn = ""
aws_region = ""
aws_access_key_id = ""
aws_secret_access_key = ""
aws_session_token = ""
aws_cognito_user_pool_id = ""
aws_cognito_temporary_password = ""
aws_cognito_client_auth_flow = "ALLOW_USER_SRP_AUTH"
aws_cognito_client_id = ""
aws_cognito_default_user_group = "customers"